<!DOCTYPE html>
<html>
  <head>
    <title>Accepted</title>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div id="content" class="container">
    <% flash.each do |type, message| %>
    <div class="alert alert-<%= type %>"><%= sanitize(message) %></div>
    <% end %>
    <%= yield %>



		<div class="clear"></div>
		<div id="results"></div>
		<p>A project by <a href="https://www.linkedin.com/in/matt-campbell-a1a95219">Matt Campbell</a>.</p>
	</div>


  </body>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_KEY']%>&callback=initMap"></script>
</html>
